<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static\stylesheet.css">
    <meta charset="UTF-8">
    <title>Mailing List</title>
</head>
<body>

    <div class="content">

        <h1>Demo</h1>
        <a href="page"> Other Page </a>

        <form action="/" method="POST">
            <p> Please enter your details </p>
            <input placeholder="Enter your username" name="enterName"><br>
            <input placeholder="Enter your email address" name="enterEmail"><br>
            <input type="submit" value="Submit">

        </form>

    </div>

</body>
</html>